- if @note
	%form#edit{:action => "/#{@note.id}/#{field}", :method => "post"}
		%input{:name => "_method", :type => "hidden", :value => "put"}
			- if field == 'content'
				%textarea{:name => "#{field}"}= @note.content
			- else
				%textarea{:name => "#{field}"}= @note.comment
			%input{:type => "submit"}
- else
	%p Note not found!
