%html
	%head
		%meta{:charset => "utf8"}
			%title= @title + ' | Recall '
			%link{:href => "/reset.css", :rel => "stylesheet"}
				%link{:href => "style.css", :rel => "stylesheet"}
	%body
		%header
			%hgroup
				%h1
					%a{:href => "/"} crc
				%h2= "Task List For " + curday.to_s
				%h3
					%a.left{:href => "/prevday"} &#8668
					%a.right{:href => "/nextday"} &#8669
		#main
			= yield
		%footer
			%p
