body {
	margin: 15px auto;
	width: 640px;
}
header {
	text-align: center;
	margin: 0 0 20px;
}
header h1 {
	display: inline;
	font-size: 32px;
}
header h1 a:link, header h1 a:visited {
	color: #1100;
	text-decoration: none;
}
header h2 {
	font-size: 16px;
	font-style: italic;
	color: #999;
}
#main {
	margin: 0 0 10px;
}
#add {
	margin: 0 0 10px;
}
#add textarea {
	height: 40px;
	width: 510px;
	padding: 10px;
	border: 1px solid #ddd;
	background: #ddd;
}
#add input {
	height: 30px;
	width: 100px;
	margin: -50px 0 0;
	border: 1px solid #ddd;
	background: #bbb;
}
#edit textarea {
	height: 50px;
	width: 480px;
	padding: 10px;
	border: 1px solid #ddd;
}
#edit input[type=submit] {
	height: 50px;
	width: 100px;
	margin: -50px 0 0;
	border: 1px solid #ddd;
	background: white;
}
#edit input[type=checkbox] {
	height: 50px;
	width: 20px;
}
article {
	border: 1px solid #ccc;
	border-top: none;
	padding: 5px 10px;
	background: #EEE;
}
article:first-of-type {
	border: 1px solid #ccc;
}
article:nth-child(even) {
	background: #fafafa;
}
article.done {
	background: #009aaa;
	color: #111;
}
article.slack {
	background: #EEDD82;
}
article.ohshit {
	background: #942454;
	color: #EEDD82;
}
article span {
	font-size: 0.8em;
}
p {
	margin: 0 0 5px;
}
.icons {
	font-size: 1.2em;
	color: #222;
}
.meta {
	font-size: 1.2em;
	color: #AAA;
	text-decoration: none;
}
.links {
	font-size: 1.8em;
	line-height: 0.8em;
	float: right;
	margin: -10px 0 0;
}
.links a {
	display: block;
	text-decoration: none;
}
#note_input {
	vertical-align: bottom;
}
.right {
	float: right;
}	
.left {
	float: left;
}	
.center {
	float: center;
}
#note_entry {
    border: solid 1px #777;
    height: 18;
    width: 250px;
    color: #999;
    padding-left: 5px;
    vertical-align: bottom
}
